/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700;800;900&family=Russo+One&display=swap");
/* Custom properties */
:root {
  --clr-dark: #0a0a0f;
  --clr-white: #ffffff;
  --clr-light-grey: #eeeeee;
  --clr-dark-accent: #02021d;
  --clr-accent: #10107c;
  --clr-light-accent: #7979de;
  --ff-text: "Exo 2", sans-serif;
  --ff-title: "Russo One", sans-serif;
  --fs-h1: 2rem;
  --fs-h2: 1.5rem;
  --fs-h3: 1.125rem;
  --fs-body: 1rem;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-meduim: 500;
  --fw-bold: 600;
  --fw-bolder: 700;
  --bs: .25em .25em .75em rgba(0,0,0,.25),
          .125em .125em .25em rgba(0,0,0,.15);
}

@media (min-width: 1000px) {
  :root {
    --fs-h1: 2.4rem;
    --fs-h2: 1.75rem;
    --fs-h3: 1.3rem;
    --fs-body: 1.125rem;
  }
}
/* base */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-text);
  font-size: var(--fs-body);
  color: var(--text-color);
  background-color: var(--clr-white);
  transition: all 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

h1,
h2,
h3 {
  font-family: var(--ff-title);
  color: var(--clr-dark-accent);
}

p {
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* header */
header {
  position: fixed;
  width: 100%;
  padding: 0.5em;
  background-color: var(--clr-white);
  border-bottom: 1px solid #ddd;
  z-index: 100;
}

.nav {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
}

.nav__list {
  font-size: var(--fs-h3);
  list-style: none;
  display: flex;
  margin: 0.25em 1.5em 0.2em;
  margin-right: auto;
  padding: 0;
}
.nav__list .nav__link {
  color: var(--clr-dark-acent);
}
.nav__list .nav__link:hover {
  opacity: 0.6;
}
.nav__list .nav__link + .nav__link {
  margin-left: 1em;
}

.nav__cart {
  cursor: pointer;
  position: relative;
  display: flex;
  margin: -0.15em 1.5em;
  margin-left: auto;
}
.nav__cart img {
  max-width: 40px;
}

.nav__cart--circle {
  position: absolute;
  top: 1.5em;
  left: 1.6em;
  font-size: 0.9rem;
  font-weight: var(--fw-bold);
  padding: 0 0.4em;
  color: var(--clr-white);
  border-radius: 50%;
  background-color: rgb(220, 0, 0);
}

/* Store */
section {
  padding: 7em 2em;
}

.section__title {
  color: var(--clr-accent);
  text-align: center;
  font-size: var(--fs-h1);
  letter-spacing: 1px;
  margin-bottom: 1.5em;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 3em;
  flex-wrap: wrap;
  max-width: 1400px;
  margin: 0 auto;
}

.card {
  line-height: 2em;
}

.card-left {
  margin-left: 1em;
  max-width: 150px;
}

.card__img {
  margin-right: 1em;
  max-width: 260px;
}

.card__title {
  color: var(--clr-dark-accent);
  font-weight: var(--fw-bolder);
}

.card__cart--button,
.card__cart--counter button {
  font-family: var(--ff-text);
  font-size: var(--fs-body);
  text-decoration: none;
  background-color: var(--clr-white);
  border: 2px solid var(--clr-accent);
  outline: 2px solid var(--clr-accent);
  outline-offset: -2px;
  padding: 0.4em 0.7em;
  margin: 0.35em;
  transition: outline-offset 200ms ease;
}

.card__cart--counter {
  display: flex;
  flex-wrap: wrap;
  max-width: 150px;
}
.card__cart--counter button {
  padding: 0 0.4em 0.15em;
}
.card__cart--counter .card__cart--remove {
  padding: 0.25em 0.5em;
  border: 2px solid rgb(175, 0, 0);
  outline: 2px solid rgb(175, 0, 0);
  text-align: center;
}

.card__cart--button:hover,
.card__cart--button:focus,
.card__cart--counter button:hover,
.card__cart--counter button:focus {
  outline-offset: 0.125rem;
}

@media (min-width: 400px) {
  .card__img {
    max-width: 350px;
  }
}
@media (min-width: 500px) {
  .card__img {
    max-width: 450px;
  }
}
@media (min-width: 700px) {
  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1em;
  }
  .card__img {
    max-width: 390px;
  }
}

/*# sourceMappingURL=styles.css.map */
